/**Navigation start**/
.header {
    color: #41ccb2;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
}

#navigation {
    display: inline-block;
    color: #5100bc;
}
/**Navigation end**/


/** Predictions page **/

body{
    width: 100%;
    background-image: url('../img/night.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: 650px;
    margin: 0 auto;
    padding-top: 70px;
}

.validators {
    position: relative;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}
#textBox{

    background: #4ec691; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlYzY5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left, #4ec691 0%, #000000 84%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4ec691), color-stop(84%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #4ec691 0%,#000000 84%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #4ec691 0%,#000000 84%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #4ec691 0%,#000000 84%); /* IE10+ */
    background: linear-gradient(to right, #4ec691 0%,#000000 84%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec691', endColorstr='#000000',GradientType=1 ); /* IE6-8 */

    height: 60px;
    width: 100%;
    min-width: 300px;
    max-width: 1200px;
    margin-top: 100px;
    text-align: left;
    font-size: 1.4em;
    padding-top: 20px;
    padding-left: 10px;
}

#prediction{
    color: #ffffff;
    padding: 10px;
}

footer{
    padding-top: 390px;
}