p img {
    width: 100%;
    margin: 10px;
}

.header {
    color: #1c85cc;
    font-size: 27px;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
}

#navigation {
    display: inline-block;
}

.headers{
    font-size: 35px;
    font-style: italic;
    font-family: "Times New Roman", serif;
}

.imagesArea {
    padding-top: 70px;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.active {
    text-decoration: underline;
    color: black;
    font-family: "Times New Roman", serif;
}

.pageNums {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    font-style: italic;
}

.validators {
    float: right;
    margin: 20px;
}