body{
    width: 100%;
    background-image: url('../img/jungle.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#wrapper{
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    margin: 0 auto;
}

p img {
    width: 100%;
    margin: 10px;
}

.header {
    color: #1c85cc;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

#navigation {
    display: inline-block;
}

.gifText {
    color: white;
    font-size: 1.5em;
    font-style: normal;
    font-family: "entypo","Times New Roman", serif;
}

.imagesArea {
    padding-top: 70px;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.active {
    text-decoration: underline;
    color: black;
    font-family: "Times New Roman", serif;
}

.pageNums {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 10px;
    font-style: italic;
}

.validators {
    float: right;
    margin: 20px;
}

.greeting {
    display: block;
    width: 96%;
    padding-top: 120px;
    margin-left: 20px;
}

#greetingHeader {
    display: block;
    text-align: center;
    font-size: 30px;
}

.text {
    color: #1c85cc;
    font-size: 25px;
    font-style: italic;
}
